{% extends "landpage/base.html" %}
{% block title %}CurtaSalto{% endblock %}
{% block content %}				

<!-- Banner -->


</div>

<!-- Section Three -->
	<div class="wrapper style4">
		<section class="container">

			<div class="row flush">
				<div class="4u">
					<ul class="special-icons">
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Foco total</h3>
								<p>Destinado a comunidade</p>
							</div>
						</li>
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Divulgação</h3>
								<p>destinado ao sucesso</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Nome PlaceHolder</h3>
								<p>Colocar um texto aqui</p>
							</div>
						</li>
						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>filme placeholder</h3>
							<p>colocar um texto aqui</p>
						</div>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">

						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>Mais um nome</h3>
							<p>Dizer aqui o que ele fez</p>
							
						</div>


						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>outro nome</h3>
							<p>colocar um texto aqui</p>
						</div>

					</ul>
				</div>
			</div>
		</section>
	</div>


{% endblock %}
