{% extends "landpage/base.html" %}
{% block title %}CurtaSalto{% endblock %}
{% block content %}				

<!-- Banner -->
	<div id="banner">
		<section class="container">
			<h2>Curta Salto</h2>

			<span>{{ context.user }}</span>
			<p>Essa é o texto de apresentação que poderia ser um texto mais legal do que esse</p>
		</section>
	</div>

</div>

<!-- Section Three -->
	<div class="wrapper style4">
		<section class="container">
			<header class="major">
				<h2>Filmes do dia</h2>
				
			</header>
			<div class="row flush">
				<div class="4u">
					<ul class="special-icons">
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Foco total</h3>
								<p>Destinado a comunidade</p>
							</div>
						</li>
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Divulgação</h3>
								<p>destinado ao sucesso</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">
						<li>
							<div>
								<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
								<h3>Nome PlaceHolder</h3>
								<p>Colocar um texto aqui</p>
							</div>
						</li>
						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>filme placeholder</h3>
							<p>colocar um texto aqui</p>
						</div>
					</ul>
				</div>
				<div class="4u">
					<ul class="special-icons">

						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>Mais um nome</h3>
							<p>Dizer aqui o que ele fez</p>
							
						</div>


						<div>
							<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
							<h3>outro nome</h3>
							<p>colocar um texto aqui</p>
						</div>

					</ul>
				</div>
			</div>
		</section>
	</div>

<!-- Team -->
	<div class="wrapper style5">
		<section id="team" class="container">
			<header class="major">
				<h2>Cras vitae metus aliNuam</h2>
				<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu</span>
			</header>
			<div class="row">
				<div class="3u">
					<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
					<h3>Molly Millions</h3>
					<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
				</div>
				<div class="3u">
					<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
					<h3>Henry Dorsett Case</h3>
					<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
				</div>
				<div class="3u">
					<a href="#" class="image"><img src = "/static/images/placeholder.png" style="border-color: rgb(27, 27, 160)" alt=""></a>
					<h3>Willis Corto</h3>
					<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
				</div>
				<div class="3u">
					<a href="#" class="image"><img src = "/static/images/placeholder.png" alt=""></a>
					<h3>Linda Lee</h3>
					<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
				</div>
			</div>
		</section>
	</div>


{% endblock %}
