<!DOCTYPE HTML>

<html>
	<head>
		<title>VII Curta Salto</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/css/ie/html5shiv.js></script><![endif]-->
		
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie/v8.css" /><![endif]-->
	</head>
<body class="homepage">	
		<!-- Header Wrapper -->
		<div class="wrapper style1">
			<!-- Header -->
				<div id="header">
					<div class="container">
						<!-- Logo -->
							<h1><a href="#" id="logo">7° Curta Salto</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									
									<li class="active"><a href="/landpage/home">Home</a></li>
									<li><a href=/landpage/webinars>Webinars</a></li>
									<li>
										<a href="/landpage/sessions/">Mostras</a>
										<ul>
											<li><a href="/landpage/sessions/0">Mostra Salto</a></li>
											<li><a href="/landpage/sessions/1">Mostra Brasil</a></li>
										</ul>
									</li>

									<!--<li><a href="/landpage/awards">assista a premiação</a></li>-->
									<li><a href="/landpage/admin">Admin</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
				{% block content %}
				{% endblock %}

				<div id="footer">
					<section class="container">
						<header class="major">
							<h2>compartilhe nas redes</h2>
							<span class="byline">Quanto mais cinema, mais cinema!</span>
						</header>
							<ul class="icons">
								<li><a href="https://www.facebook.com/curtasaltofest" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
							</ul>

						<div id="copyright">
							Design: <a href="http://www.estudiopoliteama.com.br">WebMaster</a>
						</div>
					</section>			
				</div>
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			</body>
		</html>
	</body>
</html>		
