{% extends "landpage/base.html" %}
{% block title %}CurtaSalto{% endblock %}
{% block content %}				

<!-- Banner -->


</div>
<div class="wrapper style6">

		<img class="banner"  src = "/static/images/banner.jpg" alt="">


</div>
<div class="wrapper style4">
		<section class="container">
			<div class="row double">
				<div class="6u">
					<header class="major">
						<h2> O Curta Salto é uma grande festa do audiovisual</h2>
						<span class="byline"> O festival neste ano, prevê uma programação audiovisual gratuita e online, voltada para o público em geral. Workshop de especialização audiovisual, palestras com profissionais da área e premiações para estudantes de cinema.</span>
					</header>
				</div>
				<div class="6u">
					<h3>Este ano o Curta Salto é online</h3>
					<p> Assista, curta e compartilhe! Tudo foi feito para que você se divirta em casa e com segurança. Aproveite!</p>
					<a href="https://www.youtube.com/channel/UC2BzVoKxIepXpK1yLA8-kRA" class="button alt">Acompanhe no Youtube</a>
				</div>
			</div>
		</section>
	</div>

<!-- Section Two -->
	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Faltam:</h2>
				<p id="demo"></p>
				{% if LaunchDate %}
				<input type="hidden" id="LaunchDateTime" name="LaunchDateTime" value={{ LaunchDate }}>
				{% else %}
				<h2>Não Programado</h2>
				<input type="hidden" id="LaunchDateTime" name="LaunchDateTime" value="NotSet">
				
				{% endif %}
				{% if ytLink %}
					
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
				<div class="embed-container"><iframe src="https://www.youtube.com/embed/{{ytLink}}" frameborder="0" allowfullscreen=""></iframe></div>
				</iframe>
				{% else %}
					<div><a class="image"><img class="image"  src = "/static/images/placeholder_bg.png" alt=""></a></div>
				{% endif %}
			</header>
			
		</section>
	</div>

<!-- Section Three -->
	<div class="wrapper style4">
		<section class="container">
			<header class="major">
				<h2>Confira Nossas Sessões!</h2>
				
			</header>
			<body>
				<div class="row">
				{% for slot in sessions %}
					{% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="row"></div>{% endif %}
					<div class="4u">
						<h2>{{slot.1}}</h2>  
						<a href=/landpage/sessions/{{slot.0}} class="image">
							<img class="image" src="/static/images/placeholder_bg.png" alt="">
						</a>

					</div>
				{% endfor %}
				</div>
			</body>
			<footer>

			</footer>
		</section>
	</div>

<!-- Team -->
	<div class="wrapper style5">
		<section id="team" class="container">
			<header class="major">
				<h2>Desenvolvedores</h2>
				<span class="byline">Time do Site</span>
			</header>
			<div class="row">
				<div class="3u">
					<a href="#"><img class="image"  src = "/static/images/placeholder.png" alt=""></a>
					<h3>Rafael Toschi Chiafarelli</h3>
					<p>FullStack Developer.</p>
				</div>
				<div class="3u">
					<a href="#" ><img class="image"  src = "/static/images/placeholder.png" alt=""></a>
					<h3>Larissa</h3>
					<p>WebDesigner e UX.</p>
				</div>
				<div class="3u">
					<a href="#"><img class="image" src = "/static/images/placeholder.png" style="border-color: rgb(27, 27, 160)" alt=""></a>
					<h3>Rafael Mascarenhas</h3>
					<p>Tester.</p>
				</div>
				<div class="3u">
					<a href="#" ><img class="image"  src = "/static/images/placeholder.png" alt=""></a>
					<h3>Gustavo</h3>
					<p>Comunicação.</p>
				</div>
			</div>
		</section>
	</div>




	
<script>
	function resizeIframe(obj) {
		obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
	}
</script>

<script>
// Set the date we're counting down to

var myDate = document.getElementById("LaunchDateTime").value;
if (myDate != "NotSet")
{
	console.log('LaunchDate',myDate);
	var countDownDate = new Date(myDate).getTime();

	// Update the count down every 1 second
	var x = setInterval(function() {

		// Get today's date and time
		var now = new Date().getTime();
		
		// Find the distance between now and the count down date
		var distance = countDownDate - now;
		
		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		
		// Output the result in an element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h "
		+ minutes + "m " + seconds + "s ";
		
		// If the count down is over, write some text 
		if (distance < 0) {
		clearInterval(x);
		document.getElementById("demo").innerHTML = "EXPIRED";
		}
	}, 1000);
}
</script>
{% endblock %}
