{% extends "landpage/base.html" %}
{% block title %}CurtaSalto{% endblock %}
{% block content %}				
<!-- Section One -->
	<div class="wrapper style3">
		<section class="container">
			<div class="row double">
				<div class="12u">
					<header class="major">
                        <h2>Curta Salto em Casa</h2>
                    </header>
                        <h2>Sessões</h2>
				</div>

			</div>
		</section>
	</div>
<!-- Section Two -->
	<div class="wrapper style2">
		<section class="container">
				<header class="major">
					<h2></h2>
				</header>
				<body>
					<div class="row">
					{% for slot in sessions %}
						{% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="row"></div>{% endif %}
						<div class="4u">
							<h2>{{slot.1}}</h2>  
							<a href=/landpage/sessions/{{slot.0}} class="image">
								<img class="image" src="/static/images/placeholder.png" alt="">
							</a>
							<p>{{slot.2}}</p>
						</div>
					{% endfor %}
					</div>
				</body>
				<footer>
				<p>texto explicando como acessar</p>
				</footer>
		</section>
	</div>
</div>
{% endblock %}
