{% extends "landpage/base.html" %}
{% block title %}CurtaSalto{% endblock %}
{% block content %}				
<!-- Section One -->
	<div class="wrapper style3">
		<section class="container">
			<div class="row double">
				<div class="12u">
					<header class="major">
						<h2>Webinar: Curta Salto em Casa</h2>
						<span class="byline">O projeto Webinar Curta Salto Em Casa surgiu com a ideia de capacitar e abrir diálogo com a comunidade externa á Faculdade do CEUNSP sobre a área cinematográfica. Durante quatro lives que antecipam o 7° Curta  Salto, discutiremos sobre técnicas utilizadas, meio de ingresso e a rotina do estudo na área do Cinema.</span>
					</header>
				</div>

			</div>
		</section>
	</div>

<!-- Section Two -->
	<div class="wrapper style2">
		<section class="container">
			
				<header class="major justify-content-center">

				</header>
				
				<body>
					<style>
						.right {
						  position: relative;
						  align-content: center;
						  text-align: center;
						  padding: 20px;
						}
						</style>
					<div class="right" >

						<a href="https://forms.gle/o9f7Wz9Fza8zC5Zu8" class="button alt justify-content-center">Faça a inscrição no workshop</a>

					</div>
						{% if eVideo %}
						
						{% for video in eVideo %}
						
						<div class="row">
							<div class="6u">
								<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
								<div class="embed-container"><iframe src="https://www.youtube.com/embed/{{video.ytLink}}" frameborder="0" allowfullscreen=""></iframe></div>
								</iframe>
							</div>
							<div class="6u">
								<p>{{video.synopse}}</p>
							</div>
						</div>
						{% endfor %}

						{% else %}
					<div class="3u">
						<a href="#" class="image"><img src="/static/images/placeholder.png" alt=""></a>
						
					</div>
					<div class="3u">
						<p>Texto explicando o que vai rolar nesse webnário</p>
					</div>
						{% endif %}
					</div>
				</body>
				<footer>
				</footer>
			
		</section>
	</div>

{% endblock %}
