[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
WorkingDirectory=<HOME_TAG>/CurtaSalto/CurtaSalto
ExecStart=<HOME_TAG>/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:<HOME_TAG>/CurtaSalto/CurtaSalto/CurtaSalto.sock \
          CurtaSalto.wsgi:application

[Install]
WantedBy=multi-user.target
