[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
WorkingDirectory=/home/rafael_chiafarelli/CurtaSalto/CurtaSalto
ExecStart=/home/rafael_chiafarelli/CurtaSalto/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/rafael_chiafarelli/CurtaSalto/CurtaSalto/CurtaSalto.sock \
          CurtaSalto.wsgi:application

[Install]
WantedBy=multi-user.target
